.footer {
    position: relative;
    
 
}
.footer__title {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;  
    top: 10%;
    left: 10%;
    line-height: 1.1;
}
.footer__gif {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100px;
    height: 100px;

    & img {
        width: 100%;
        height: auto;
    }
}


.footer__contacts-list {
    position: absolute;
    padding-bottom: 15px;
    z-index: 3;
    top: 60%;
    left: 5%;
    & li {
        margin-bottom: 10px;
    }
    & li:last-child {
        margin-bottom: 0;
    }
}
.footer__contacts-list__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    & svg {
        fill: var(--text-color);
        margin-right: 10px;
    }
}
@media screen and (min-width: 768px) {
    .footer__gif {
        width: 200px;
    }
    .footer__contacts-list {
        top: 30%;
    }
}

@media screen and (min-width: 1200px) { 
    .footer__contacts-list {
        top: 30%;
    }
}