:root {
    --main-color: #a2d9ff;
    --background-color: rgba(0, 0, 0, 0.9);
    --black-color: #0c0a00;
    --main-font: Lato, sans-serif;
    --text-color: #757575;
    --secondary-text-color: #212121;
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
}